<md-toolbar flex>
	<div id="grid-navigation">
		<md-button class="icon filter-icon" ng-click="toggleFilters()"><md-tooltip md-delay="500">Open Filters</md-tooltip></md-button>
		<md-button class="icon previous-icon" ng-disabled="page<=1" ng-click="previousPage()"><md-tooltip md-delay="500">Previous Page</md-tooltip></md-button>
		<md-button class="icon next-icon" ng-disabled="page>=pages" ng-click="nextPage()"><md-tooltip md-delay="500">Next Page</md-tooltip></md-button>
		<md-button class="icon add-icon" ng-click="addBook($event)"><md-tooltip md-delay="500">Add Book</md-tooltip></md-button>
		<md-button ng-disabled="true" class="icon import-icon" ng-click="import($event)"><md-tooltip md-delay="500">Import Books</md-tooltip md-delay="500"></md-button>
		<md-button class="icon export-icon" ng-click="export($event)"><md-tooltip md-delay="500">Export Books</md-tooltip></md-button>
	</div>
</md-toolbar>
<div layout="row" >
	<md-sidenav class="md-sidenav-left" md-component-id="filterSideNav" md-whiteframe=4 layout-padding="5">
		<form name="sort-and-filter"  layout="column">
			<div id="sort"  layout="column">
				<md-input-container class="md-input-has-value">
					<label id="sort-label">Sort By</label>
					<md-radio-group ng-change="updateRecieved()" ng-model="$parent.sort" layout="row">
						<md-radio-button value="title">Title</md-radio-button>
						<md-radio-button value="series">Series</md-radio-button>
						<md-radio-button value="dewey">Dewey</md-radio-button>
					</md-radio-group>
				</md-input-container>
					<div id="number-to-get" class="sort-group">
						<md-input-container>
							<label id="number-to-get-label">Limit</label>
							<input id="number-to-get" class="pagination-input" type="text" ng-change="updateRecieved()" ng-model="$parent.numberToGet" name="number-to-get" value="50" required positive-integer-input/>
						</md-input-container>
					</div>
					<div id="page-group" class="sort-group">
						<md-input-container>
							<label id="page-label">Page</label>
							<input id="page" class="pagination-input" type="text" ng-change="updateRecieved()" ng-model="$parent.page" name="page" required pages-input> of {{countPages()}}
						</md-input-container>
					</div>
					<div id="from-dewey" class="sort-group">
						<md-input-container>
							<label id="from-dewey-label">From Dewey</label>
							<input id="from-dewey-input" class="dewey-input" type="text" ng-change="updateRecieved()" ng-model="$parent.fromdewey" name="fromdewey" value="0" required dewey-input/>
						</md-input-container>
					</div>
					<div id="to-dewey" class="sort-group">
						<md-input-container>
							<label id="to-dewey-label">To Dewey</label>
							<input id="to-dewey-input" class="dewey-input" type="text" ng-change="updateRecieved()" ng-model="$parent.todewey" name="todewey" value="FIC" dewey-input/>
						</md-input-container>
					</div>
			</div>
			<div id="filter"  layout="column">
				<div id="filter-text">
					<md-input-container class="md-block">
						<label id="filter-text-label">Search for</label>
						<input type="text" ng-change="updateRecieved()" ng-model="$parent.filter" name="filter" value=""/>
					</md-input-container>
				</div>
				<div id="read-buttons" class="filter-radio-group" flex="33">
					<md-input-container class="md-input-has-value">
						<label id="read-buttons-label">Read</label>
						<md-radio-group ng-change="updateRecieved()" ng-model="$parent.read" layout="row">
							<md-radio-button value="yes">Yes</md-radio-button>
							<md-radio-button value="no">No</md-radio-button>
							<md-radio-button value="both" checked>Both</md-radio-button>
						</md-radio-group>
					</md-input-container>
				</div>
				<div id="reference-buttons" class="filter-radio-group" flex="33">
					<md-input-container class="md-input-has-value">
						<label id="reference-buttons-label">Reference</label>
						<md-radio-group ng-change="updateRecieved()" ng-model="$parent.reference" layout="row">
							<md-radio-button value="yes">Yes</md-radio-button>
							<md-radio-button value="no">No</md-radio-button>
							<md-radio-button value="both" checked>Both</md-radio-button>
						</md-radio-group>
					</md-input-container>
				</div>
				<div id="owned-buttons" class="filter-radio-group" flex="33">
					<md-input-container class="md-input-has-value">
						<label id="owned-buttons-label">Owned</label>
						<md-radio-group ng-change="updateRecieved()" ng-model="$parent.owned" layout="row">
							<md-radio-button value="yes" checked>Yes</md-radio-button>
							<md-radio-button value="no">No</md-radio-button>
							<md-radio-button value="both">Both</md-radio-button>
						</md-radio-group>
					</md-input-container>
				</div>
				<div id="loaned-buttons" class="filter-radio-group" flex="33">
					<md-input-container class="md-input-has-value">
						<label id="loaned-buttons-label">Loaned</label>
						<md-radio-group ng-change="updateRecieved()" ng-model="$parent.loaned" layout="row">
							<md-radio-button value="yes">Yes</md-radio-button>
							<md-radio-button value="no" checked>No</md-radio-button>
							<md-radio-button value="both">Both</md-radio-button>
						</md-radio-group>
					</md-input-container>
				</div>
				<div id="shipping-buttons" class="filter-radio-group" flex="33">
					<md-input-container class="md-input-has-value">
						<label id="shipping-buttons-label">Shipping</label>
						<md-radio-group ng-change="updateRecieved()" ng-model="$parent.shipping" layout="row">
							<md-radio-button value="yes">Yes</md-radio-button>
							<md-radio-button value="no" checked>No</md-radio-button>
							<md-radio-button value="both">Both</md-radio-button>
						</md-radio-group>
					</md-input-container>
				</div>
				<div id="reading-buttons" class="filter-radio-group" flex="33">
					<md-input-container class="md-input-has-value">
						<label id="reading-buttons-label">Reading</label>
						<md-radio-group ng-change="updateRecieved()" ng-model="$parent.reading" layout="row">
							<md-radio-button value="yes">Yes</md-radio-button>
							<md-radio-button value="no" checked>No</md-radio-button>
							<md-radio-button value="both">Both</md-radio-button>
						</md-radio-group>
					</md-input-container>
				</div>
			</div>
			<md-button ng-click="chooseLibrary($event)">Choose Libraries</md-button>
		</form>
	</md-sidenav>
	<md-content flex style="">
		<md-content flex style="padding: 10px; height: calc(100vh - 100px);">
			<div flex layout="column" id="grid" style="/*-webkit-overflow-scrolling: touch; display: block; position: fixed; top: 370px; bottom: 0px;*/">
				<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
						<md-grid-tile ng-repeat="book in books" >
							<md-grid-tile-header class="md-accent" style="background: rgba(48, 63, 159, .75)">
								<span style="text-align: center;margin: auto;display:inline-block;">{{book.title}}</span>
							</md-grid-tile-header>
							<md-button ng-click="showBookDialog($event, book, this, 'grid')" style="z-index: 5;position: absolute;margin-top: auto;margin-bottom: auto;right: 10px" class=" md-fab md-secondary"><md-icon md-svg-src="{{getBookIcon(book)}}"></md-icon></md-button>
							<img ng-src="web/{{book.imageurl}}{{'?'+getCurrentDateString()}}" alt="Image not found" onerror="this.onerror=null;this.src='web/res/book.jpg';" height="100%">
							<md-grid-tile-footer ng-hide="book.subtitle==''" style="background: rgba(48, 63, 159, .75)">
								<span style="text-align: center;margin: auto;display:inline-block;">{{book.subtitle}}</span>
							</md-grid-tile-footer>
						</md-grid-tile>
				</md-grid-list>
	 		</div>
	 	</md-content>
	</md-content>
</div>