<md-dialog id="shelves-editor-dialog" layout-padding="5" flex>
    <form name="shelfEditorForm">
        <md-tabs md-dynamic-height md-selected="selectedTab">
            <md-tab label="Edit Shelves">
                <table fixed-header>
                    <thead>
                        <tr>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Number of Shelves</th>
                            <th>Width</th>
                            <th>Shelf Height</th>
                            <th>Left Margin</th>
                            <th>Right Margin</th>
                            <th>Spacer Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="case in shelves">
                            <td>
                                <md-button aria-label="Move Shelf Up" class="icon up-icon" ng-disabled="case.casenumber == 1" ng-click="moveShelfUp(case)">
                                    <md-tooltip md-delay="500">Move Shelf Up</md-tooltip>
                                </md-button>
                            </td>
                            <td>
                                <md-button aria-label="Move Shelf Down" class="icon down-icon" ng-disabled="case.casenumber == $parent.numberOfCases" ng-click="moveShelfDown(case)">
                                    <md-tooltip md-delay="500">Move Shelf Down</md-tooltip>
                                </md-button>
                            </td>
                            <td>
                                <md-button aria-label="Remove Shelf" class="icon remove-icon" ng-click="removeShelf(case)">
                                    <md-tooltip md-delay="500">Remove Shelf</md-tooltip>
                                </md-button>
                            </td>
                            <td>
                                <md-input-container>
                                    <input aria-label="Number of Shelves" type="text" ng-model="case.numberofshelves" positive-integer-input required />
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container>
                                    <input aria-label="Width" type="text" ng-model="case.width" positive-integer-input required />
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container>
                                    <input aria-label="Shelf Height" type="text" ng-model="case.shelfheight" positive-integer-input required />
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container>
                                    <input aria-label="Left Margin" type="text" ng-model="case.paddingleft" positive-integer-input required />
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container>
                                    <input aria-label="Right Margin" type="text" ng-model="case.paddingright" positive-integer-input required />
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container>
                                    <input aria-label="Spacer Size" type="text" ng-model="case.spacerheight" positive-integer-input required />
                                </md-input-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-tab>
            <md-tab label="Edit Breaks">
                <table fixed-header>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Value Type</th>
                            <th>Value</th>
                            <th>Break Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="break in breaks">
                            <td>
                                <md-button aria-label="Remove Break" class="icon remove-icon" ng-click="removeBreak($index)">
                                    <md-tooltip md-delay="500">Remove Break</md-tooltip>
                                </md-button>
                            </td>
                            <td>
                                <md-select ng-model="break.valuetype" required>
                                    <md-option ng-repeat="v in $parent.valuetypes" ng-value="v">{{v}}</md-option>
                                </md-select>
                            </td>
                            <td>
                                <md-input-container>
                                    <input aria-label="Value" type="text" ng-model="break.value" dewey-input required />
                                </md-input-container>
                            </td>
                            <td>
                                <md-select ng-model="break.breaktype" required>
                                    <md-option ng-repeat="v in $parent.breaktypes" ng-value="v">{{v}}</md-option>
                                </md-select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-tab>
            <md-tab label="Sort Orders">
                <md-content flex>
                    <div layout="column">
                        <div>
                            <div layout-padding="20" class="md-body-1">Here you may choose certain series which should be sorted in a different order than the rest of the series. For instance, a series that has multiple authors might need to be sorted with the series and volume before the author.</div>
                            <md-select ng-model="toAddSeries" ng-change="addToSeries()">
                                <md-option ng-repeat="s in series" ng-value="s">{{s}}</md-option>
                            </md-select>
                            <div class="remove-from-series-button" ng-repeat="s in authorBasedSeries">{{s}}
                                <md-button class="icon remove-icon" ng-click="removeFromSeries(s)">
                                    <md-tooltip md-delay="500">Remove</md-tooltip>
                                </md-button>
                            </div>
                        </div>
                        <div layout="row" flex>
                            <div flex="50" layout-padding="20" class="md-body-1">Rearrange the fields to choose the sort order of the regular books.</div>
                            <div flex="50" layout-padding="20" class="md-body-1">Rearrange the fields to choose the sort order of the series-specific books (see above).</div>
                        </div>
                        <div layout="row" flex>
                            <div flex="50">
                                <div class="drag-and-drop-container">
                                    <ul dnd-list="sortOrder">
                                        <li ng-repeat="item in sortOrder" dnd-draggable="item" dnd-moved="sortOrder.splice($index, 1)" dnd-effect-allowed="move">{{item.label}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div flex="50">
                                <div class="drag-and-drop-container">
                                    <ul dnd-list="specialSortOrder">
                                        <li ng-repeat="item in specialSortOrder" dnd-draggable="item" dnd-moved="specialSortOrder.splice($index, 1)" dnd-effect-allowed="move">{{item.label}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </form>
    <div layout="row">
        <md-button aria-label="Add" ng-hide="selectedTab==2" class="icon add-icon" ng-click="add()" flex>
            <md-tooltip md-delay="500">Add</md-tooltip>
        </md-button>
        <md-button aria-label="Save" ng-disabled="shelfEditorForm.$invalid" ng-click="save()" flex class="icon save-icon"></md-button>
        <md-button aria-label="Close" ng-click="cancel()" flex class="icon cancel-icon"></md-button>
    </div>
</md-dialog>