#editor-header{
	font-size: medium;
	overflow: hidden;
	/*position: fixed;*/
	left: 0px;
	right: 0px;
	/*height: 175px;*/
	margin: 0px 0px 0px 2%;
}
#editor-control-buttons{
	margin: 2px 2% 5px 2%;
	width: 96%;
	float: left;
}
#editor-control-buttons form{
	font-size: 0px;
	display: inline;
}
.editor-control-button{
	font-size: medium;
	width: 24%;
	margin: 0% .5% 0% .5%;
}
#editor{
	overflow: auto;
	/*position: fixed;*/
	/*top: 200px;*/
	left: 2%;
	right: 2%;
	/*bottom: 0px;*/
	font-size: medium;
}
#editor label{
	display: inline-block;
	float: left;
	clear: left;
	width: 20%;
	margin-bottom: 1%;
}
#editor input{
	display: inline-block;
	float: left;
	width: 78%;
	margin-bottom: 1%;
}
#editor select{
	display: inline-block;
	float: left;
	width: 79%;
	margin-left: 20%;
	margin-bottom: 1%;
}
#editor .editor-header{
	font-size: large;
	font-weight: bold;
}
#editor .editor-area{
	width: 93%;
	float: left;
	padding: 1% 1% 1% 2%;
	background: #718EA4;
	box-shadow: inset 4px -6px 6px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 4px 6px 6px rgba(255,255,255,0.5); /*top internal highlight*/
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
}
#editor .entry{
	width: 48%;
	float: left;
	margin: 1% 1% 1% 1%;
}
#editor-book-info{
	float: left;
	width: 70%;
	margin-right: 1%;
}
#editor-book-info .entry{
	width: 100%;
	float: left;
	margin: 1% 1% 1% 1%;
}
#editor-book-info label{
	display: inline-block;
	float: left;
	clear: left;
	width: 10%;
}
#editor-book-info input{
	display: inline-block;
	float: left;
	width: 88%;
}
#editor-book-info select{
	display: inline-block;
	float: left;
	width: 88%;
	margin-left: 10%;
}
#editor-image-info{
	float: left;
	width: 27%;
	padding: 1%;
}
#editor-image{
	height: 80%;
	margin: auto;
}
img{
	display: block;
	margin: auto;
	margin-bottom: 2%;
	width: 20%;
	text-align: center;
	font-size: medium;
	border: 4px outset #123652;
}
#editor-image-buttons{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 20%;
	text-align: center;
}
#editor-image-buttons div{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
	display: inline-block;
}
#editor-image-info button{
	width: 45%;
	margin: 0% 2% 0% 2%;
}
#editor-author-info button{
	margin-bottom: 1%;
	width: 16%;
}
.author-box {
	border: 3px outset #123652;
	font-size: small;
	font-weight: normal;
	padding: 2px;
	margin-bottom: 1%;
	margin-top: 1%;
	min-height: 50px;
	max-height: 50px;
	width: 33%;
	overflow: auto;
	outline: 1px solid black;
}
.author-box li {
	list-style-type: none;
}
#editor .checkbox{
	display: inline-block;
	float: left;
	width: 20%;
	vertical-align: middle;
}
#editor .checkbox input{
	width: 10%;
	vertical-align: middle;
}
#editor-checkboxes {
/* 	float: left; */
	display: block;
/* 	clear: left; */
	width: 100%;
	margin: 1% 1% 1% 1%;
}

#editor-loanee .entry div {
	width: 48%;
	margin: 0px 1% 0px 1%;
	float: left;
}

#editor-loanee label {
	width: 25%;
}
#editor-loanee input {
	width: 73%;
}

.author-selected {
	background: gray;
}