.icon:before {
	font-family: FontAwesome;
	font-size: large;
	min-width: 5% !important;
	width: 5% !important;
}

.filter-icon:before{
	content:'\f0b0';
}
.add-icon:before{
	content:'\f067';
}
.import-icon:before{
	content:'\f093';
}
.export-icon:before{
	content:'\f019';
}
.statistics-icon:before{
	content:'\f080';
}
.shelves-icon:before{
	content:'\f19c';
}
.grid-icon:before{
	content: '\f00a';
}
.previous-icon:before{
	content:'\f191';
}
.next-icon:before{
	content:'\f152';
}
.save-icon:before{
	content:'\f0c7';
}
.remove-icon:before{
	content:'\f014';
}
.cancel-icon:before{
	content:'\f00d';
}
.edit-icon:before{
	content:'\f040';
}
.url-icon:before{
	content:'\f0ea';
}
.settings-icon:before{
	content:'\f013';
}
.checkout-icon:before{
	content:'\f217';
}
.checkin-icon:before{
	content:'\f218';
}
.scan-icon:before{
	content:'\f02a';
}
.up-icon:before{
	content:'\f151';
}
.down-icon:before{
	content:'\f150';
}
.search-icon:before{
	content:'\f002';
}
.copy-icon:before{
	content:'\f0c5';
}

figcaption {
	margin: auto;
}

#editor-view{

}