#import-header{
	font-size: medium;
	overflow: hidden;
	/*position: fixed;*/
	left: 0px;
	right: 0px;
	/*height: 175px;*/
	margin: 0px 0px 0px 2%;
}
#import-control-buttons{
	margin: 2px 2% 2px 2%;
	width: 96%;
	float: left;
}
#import-control-buttons form{
	font-size: 0px;
	display: inline;
}
.import-control-button{
	font-size: medium;
	width: 25%;
}
#import{
	overflow: auto;
	/*position: fixed;*/
	/*top: 175px;*/
	left: 2%;
	right: 2%;
	/*bottom: 0px;*/
	font-size: medium;
	width: 96%;
	float: left;
	margin-top: 2%;
}