.bookshelf-image {
    display: none;
}

#main-content {
    overflow-y: hidden;
}

#editor-view img {
    display: block;
    margin: auto;
    width: 80%;
}

#editor-view .image-buttons {
    margin: auto;
    display: block;
}

#editor-view .image-button {
    margin: auto;
    display: inline-block;
}

#editor-view .image-button .md-button {
    min-width: 1%;
}

#editor-view .contributor-list {
    max-height: 20vh;
}

#editor-view .contributor-button {
    margin: auto;
}

#editor-view md-checkbox {
    margin-bottom: 0;
}

#editor-view .spine-editor md-checkbox .md-label {
    position: absolute;
    bottom: 40%;
}

#editor-view textarea {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#loading-circle {
    position: fixed;
    top: 50%;
    left: 50%;
}

#loading-mask {
    z-index: 99999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.5);
}

#settings-view .settings-content {
    position: relative; height: 60vh;
}

#settings-view .settings-tabs {
    position: absolute;top: 0;bottom: 0;left: 0;right: 0;
}

#settings-view .settings-description {
    position: relative;height:10%;
}

#settings-view .settings-inner-content {
    position: relative;height:85%;
}

#settings-view .settings-inner-tabs {
    position: absolute;top: 0;bottom: 0;left: 0;right: 0;
}

#settings-view .settings-inner-tab-content {
    height: 100%;
}

#settings-view .settings-inner-tab-content  md-list-item {
    float: left;
}

#settings-view .settings-inner-tab-content  md-input-container {
    min-width: 200px;
}

.md-chips .md-chip-input-container md-autocomplete input {
    width: 400px;
}

#view-view .rating-holder {
    margin-right: 5px;
}

#view-view .review-container {
    max-height: 55vh;
    overflow-y: auto;
}

#view-view .ngrateit {
    display: inline-block;
}

#export-dialog {
    text-align: center;
}

#grid-view .grid-content {
    padding: 10px;
    height: calc(100vh - 100px);
}

#grid-view md-grid-tile-header {
    background: rgba(48, 63, 159, .75);
}

#grid-view md-grid-tile-footer {
    background: rgba(48, 63, 159, .75);
}

#grid-view span {
     text-align: center;
     margin: auto;
     display:inline-block;
}

#import-dialog {
    text-align: center;
}

#scan-dialog {
    text-align: center;
}

#scan-dialog md-grid-tile-header {
    background: rgba(48, 63, 159, .75);
}

#scan-dialog span {
    text-align: center;
    margin: auto;
    display:inline-block;
}

#app-header .left {
    display: inline-block;
    float:left;
}

#app-header .right {
    display: inline-block;
    float: right;
}

#app-header .authentification {
    display: inline-block;
}

#shelves-view .search-container {
    display: inline-block;
}

#shelves-view .bookcases {
    width: 100%;
    height: 85vh;
    position: relative;
    overflow-x: auto;
}

#shelves-editor-dialog {
    text-align: center;
}

#shelves-editor-dialog table {
    width: 100%;
    height: 60vh;
}

#shelves-editor-dialog .remove-from-series-button {
    display: inline-block;
}