.user-container input {
	min-width: 400px;
}

.md-tooltip {
    height: auto !important;
    width: auto !important;
}

/* Apply this to the inner tooltip component */
.tooltip-inner {
    word-break: break-word;
    max-width: 300px !important;
    text-align: center;
}

/* Apply this to the text inside the tooltip */
.span-white-space {
    white-space: normal;
}