<div layout="column" flex>
	<div>
		<md-toolbar>
			<div id="stats-navigation">
				<md-button aria-label="Choose Libraries" class="icon filter-icon" ng-click="chooseLibrary($event)"><md-tooltip md-delay="500">Choose Libraries</md-tooltip></md-button>
				<md-button aria-label="Show General Statistics" ng-disabled="statView=='general'" ng-click="setStatView('general')">General</md-button>
				<md-button aria-label="Show Publisher Statistics" ng-disabled="statView=='publishers'" ng-click="setStatView('publishers')">Publishers</md-button>
				<md-button aria-label="Show Series Statistics" ng-disabled="statView=='series'" ng-click="setStatView('series')">Series</md-button>
				<md-button aria-label="Show Language Statistics" ng-disabled="statView=='languages'" ng-click="setStatView('languages')">Languages</md-button>
				<md-button aria-label="Show Dewey Statistics" ng-disabled="statView=='deweys'" ng-click="setStatView('deweys')">Deweys</md-button>
				<md-button aria-label="Show Binding Statistics" ng-disabled="statView=='bindings'" ng-click="setStatView('bindings')">Bindings</md-button>
				<md-button aria-label="Show Contributor Statistics" ng-disabled="statView=='contributors'" ng-click="setStatView('contributors')">Contributors</md-button>
				<md-button aria-label="Show Date Statistics" ng-disabled="statView=='dates'" ng-click="setStatView('dates')">Dates</md-button>
				<md-button aria-label="Show Dimension Statistics" ng-disabled="statView=='dimensions'" ng-click="setStatView('dimensions')">Dimensions</md-button>
				<md-button aria-label="Show Lexile Statistics" ng-disabled="statView=='lexile'" ng-click="setStatView('lexile')">Lexiles</md-button>
				<md-button aria-label="Show Tag Statistics" ng-disabled="statView=='tag'" ng-click="setStatView('tag')">Tags</md-button>
			</div>
			<div id="stats-navigation-sub" ng-hide="display!='stats'">
				<md-button aria-label="View By Count" ng-disabled="statSubView=='bycounts'" ng-hide="statView!='general'" ng-click="setStatSubView('bycounts')">By Counts</md-button>
				<md-button aria-label="View By Pages" ng-disabled="statSubView=='bypages'" ng-hide="statView!='general'" ng-click="setStatSubView('bypages')">By Pages</md-button>
				<md-button aria-label="View By Size" ng-disabled="statSubView=='bysize'" ng-hide="statView!='general'" ng-click="setStatSubView('bysize')">By Size</md-button>
				<md-button aria-label="View By Parent Company" ng-disabled="statSubView=='bybooksperparent'" ng-hide="statView!='publishers'" ng-click="setStatSubView('bybooksperparent')">By Parent Company</md-button>
				<md-button aria-label="View By Top Publishers" ng-disabled="statSubView=='bytopchildren'" ng-hide="statView!='publishers'" ng-click="setStatSubView('bytopchildren')">Top Publishers</md-button>
				<md-button aria-label="View By Top Locations" ng-disabled="statSubView=='bytoplocations'" ng-hide="statView!='publishers'" ng-click="setStatSubView('bytoplocations')">Top Locations</md-button>
				<md-button aria-label="View By Series" ng-disabled="statSubView=='byseries'" ng-hide="statView!='series'" ng-click="setStatSubView('byseries')">By Series</md-button>
				<md-button aria-label="View By Primary Language" ng-disabled="statSubView=='byprimary'" ng-hide="statView!='languages'" ng-click="setStatSubView('byprimary')">By Primary Language</md-button>
				<md-button aria-label="View By Secondary Language" ng-disabled="statSubView=='bysecondary'" ng-hide="statView!='languages'" ng-click="setStatSubView('bysecondary')">By Secondary Language</md-button>
				<md-button aria-label="View By Original Language" ng-disabled="statSubView=='byoriginal'" ng-hide="statView!='languages'" ng-click="setStatSubView('byoriginal')">By Original Language</md-button>
				<md-button aria-label="View By Dewey" ng-disabled="statSubView=='bydeweys'" ng-hide="statView!='deweys'" ng-click="setStatSubView('bydeweys')">By Category</md-button>
				<md-button aria-label="View By Binding" ng-disabled="statSubView=='bybindings'" ng-hide="statView!='bindings'" ng-click="setStatSubView('bybindings')">By Binding</md-button>
				<md-button aria-label="View By Top Contributors" ng-disabled="statSubView=='bycontributorstop'" ng-hide="statView!='contributors'" ng-click="setStatSubView('bycontributorstop')">Top Contributors</md-button>
				<md-button aria-label="View By Contributors Per Role" ng-disabled="statSubView=='bycontributorsperrole'" ng-hide="statView!='contributors'" ng-click="setStatSubView('bycontributorsperrole')">Roles</md-button>
				<md-button aria-label="View By Volume" ng-disabled="statSubView=='byvolumes'" ng-hide="statView!='dimensions'" ng-click="setStatSubView('byvolumes')">Volume</md-button>
				<md-button aria-label="View By Width" ng-disabled="statSubView=='bywidths'" ng-hide="statView!='dimensions'" ng-click="setStatSubView('bywidths')">Width</md-button>
				<md-button aria-label="View By Height" ng-disabled="statSubView=='byheights'" ng-hide="statView!='dimensions'" ng-click="setStatSubView('byheights')">Height</md-button>
				<md-button aria-label="View By Depth" ng-disabled="statSubView=='bydepths'" ng-hide="statView!='dimensions'" ng-click="setStatSubView('bydepths')">Depth</md-button>
				<md-button aria-label="View By Weight" ng-disabled="statSubView=='byweights'" ng-hide="statView!='dimensions'" ng-click="setStatSubView('byweights')">Weight</md-button>
				<md-button aria-label="View By Pages" ng-disabled="statSubView=='bypages'" ng-hide="statView!='dimensions'" ng-click="setStatSubView('bypages')">Pages</md-button>
				<md-button aria-label="View By Original Date" ng-disabled="statSubView=='bydatesoriginal'" ng-hide="statView!='dates'" ng-click="setStatSubView('bydatesoriginal')">By Original Publication Date</md-button>
				<md-button aria-label="View By Publication Date" ng-disabled="statSubView=='bydatespublication'" ng-hide="statView!='dates'" ng-click="setStatSubView('bydatespublication')">By Edition Publication Date</md-button>
				<md-button aria-label="View By Lexile" ng-disabled="statSubView=='bylexile'" ng-hide="statView!='lexile'" ng-click="setStatSubView('bylexile')">By Lexile</md-button>
				<md-button aria-label="View By Tag" ng-disabled="statSubView=='bytag'" ng-hide="statView!='tag'" ng-click="setStatSubView('bytag')">By Tag</md-button>
			</div>
		</md-toolbar>
	</div>
	<md-content layout-padding="5">These statistics represent the owned books in the selected libraries.</md-content>
	<div>
		<div id="Read-Reference-Reading-ToRead-Shipping-OnLoan" ng-hide="statView!='general'" flex>
			<fusioncharts ng-hide="statSubView!='bycounts'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=generalbycounts&libraryids={{stringLibraryIds()}}' ></fusioncharts>
			<fusioncharts ng-hide="statSubView!='bypages'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=generalbypages&libraryids={{stringLibraryIds()}}'></fusioncharts>
			<fusioncharts ng-hide="statSubView!='bysize'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=generalbysize&libraryids={{stringLibraryIds()}}'></fusioncharts>
		</div>

		<div id="Publishers" ng-hide="statView!='publishers'">
			<fusioncharts ng-hide="statSubView!='bybooksperparent'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=publishersbooksperparent&libraryids={{stringLibraryIds()}}'></fusioncharts>
			<fusioncharts ng-hide="statSubView!='bytopchildren'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=publisherstopchildren&libraryids={{stringLibraryIds()}}'></fusioncharts>
			<fusioncharts ng-hide="statSubView!='bytoplocations'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=publisherstoplocations&libraryids={{stringLibraryIds()}}'></fusioncharts>
		</div>

		<div id="Series" ng-hide="statView!='series'">
			<fusioncharts ng-hide="statSubView!='byseries'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=series&libraryids={{stringLibraryIds()}}'></fusioncharts>
		</div>

		<div id="Languages" ng-hide="statView!='languages'">
			<fusioncharts ng-hide="statSubView!='byprimary'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=languagesprimary&libraryids={{stringLibraryIds()}}'></fusioncharts>
			<fusioncharts ng-hide="statSubView!='bysecondary'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=languagessecondary&libraryids={{stringLibraryIds()}}'></fusioncharts>
			<fusioncharts ng-hide="statSubView!='byoriginal'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=languagesoriginal&libraryids={{stringLibraryIds()}}'></fusioncharts>
		</div>

		<div id="Deweys" ng-hide="statView!='deweys'">
			<fusioncharts ng-hide="statSubView!='bydeweys'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=deweys&libraryids={{stringLibraryIds()}}'></fusioncharts>
		</div>

		<div id="Bindings" ng-hide="statView!='bindings'">
			<fusioncharts ng-hide="statSubView!='bybinding'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=formats&libraryids={{stringLibraryIds()}}'></fusioncharts>
		</div>

		<div id="Contributors" ng-hide="statView!='contributors'">
			<fusioncharts ng-hide="statSubView!='bycontributorstop'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=contributorstop&libraryids={{stringLibraryIds()}}'></fusioncharts>
			<fusioncharts ng-hide="statSubView!='bycontributorsperrole'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=contributorsperrole&libraryids={{stringLibraryIds()}}'></fusioncharts>
		</div>

		<div id="Dimensions" ng-hide="statView!='dimensions'">
			<div ng-hide="statSubView!='byvolumes'" id="dimensionsvolumes">
				<md-list>
					<md-list-item class="md-list-item-text" >
						Volume: {{(parseFloat(dimensions.volume)/1000000000).toFixed(2)}} m&sup3;
					</md-list-item>
				</md-list>
			</div>
			<div ng-hide="statSubView!='bywidths'" id="dimensionswidths">
				<md-list>
					<md-list-item class="md-list-item-text" >
						Total: {{(parseFloat(dimensions.totalwidth)/1000).toFixed(2)}} m
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Average: {{(parseFloat(dimensions.averagewidth)).toFixed(2)}} mm
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Minimum: {{dimensions.minimumwidth}} mm
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Maximum: {{dimensions.maximumwidth}} mm
					</md-list-item>
				</md-list>
			</div>
			<div ng-hide="statSubView!='byheights'" id="dimensionsheights">
				<md-list>
					<md-list-item class="md-list-item-text" >
						Total: {{(parseFloat(dimensions.totalheight)/1000).toFixed(2)}} m
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Average: {{(parseFloat(dimensions.averageheight)).toFixed(2)}} mm
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Minimum: {{dimensions.minimumheight}} mm
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Maximum: {{dimensions.maximumheight}} mm
					</md-list-item>
				</md-list>
			</div>
			<div ng-hide="statSubView!='bydepths'" id="dimensionsdepths">
				<md-list>
					<md-list-item class="md-list-item-text" >
						Total: {{(parseFloat(dimensions.totaldepth)/1000).toFixed(2)}} m
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Average: {{(parseFloat(dimensions.averagedepth)).toFixed(2)}} mm
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Minimum: {{dimensions.minimumdepth}} mm
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Maximum: {{dimensions.maximumdepth}} mm
					</md-list-item>
				</md-list>
			</div>
			<div ng-hide="statSubView!='byweights'" id="dimensionsweights">
				<md-list>
					<md-list-item class="md-list-item-text" >
						Total: {{(parseFloat(dimensions.totalweight)/16).toFixed(2)}} lbs
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Average: {{(parseFloat(dimensions.averageweight)).toFixed(2)}} oz
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Minimum: {{dimensions.minimumweight}} oz
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Maximum: {{dimensions.maximumweight}} oz
					</md-list-item>
				</md-list>
			</div>
			<div ng-hide="statSubView!='bypages'" id="dimensionspages">
				<md-list>
					<md-list-item class="md-list-item-text" >
						Total: {{(parseFloat(dimensions.totalpages)/1000).toFixed(1)+"K"}} pages
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Average: {{(parseFloat(dimensions.averagepages)).toFixed(2)}} pages
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Minimum: {{dimensions.minimumpages}} pages
					</md-list-item>
				</md-list>
				<md-list>
					<md-list-item class="md-list-item-text" >
						Maximum: {{dimensions.maximumpages}} pages
					</md-list-item>
				</md-list>
			</div>
		</div>

		<div id="Dates" ng-hide="statView!='dates'">
			<fusioncharts ng-hide="statSubView!='bydatesoriginal'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=datesoriginal&libraryids={{stringLibraryIds()}}'></fusioncharts>
			<fusioncharts ng-hide="statSubView!='bydatespublication'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=datespublication&libraryids={{stringLibraryIds()}}'></fusioncharts>
		</div>

		<div id="Lexile" ng-hide="statView!='lexile'">
			<fusioncharts ng-hide="statSubView!='bylexile'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=lexile&libraryids={{stringLibraryIds()}}'></fusioncharts>
		</div>

		<div id="Tag" ng-hide="statView!='tag'">
			<fusioncharts ng-hide="statSubView!='bytag'" width="100%" height="500px" type="column2d" dataformat="jsonurl" datasource='information/statistics?type=tag&libraryids={{stringLibraryIds()}}'></fusioncharts>
		</div>
	</div>
</div>
